<h1>Your Spaces</h1>

<section ng-if='spaces == false'>
    <p>no spaces yet...</p>
    <a ng-href='/spaces/new' id='post_space'>Post a space</a>
</section>

<section>
    <ul id='user-spaces' ng-repeat='space in spaces'>
        <li>
            <h5>{{space.name}}</h5>
            <img class='space_thumb' ng-src={{space.image_url}}/>
            <p>Location: {{space.location}}</p>
            <p>Price: {{space.price}}</p>
            <p>Details: {{space.details}}</p>
            <p>Available from: {{space.available_from}}</p>
            <p>Available to: {{space.available_to}}</p>
            <a ng-href='/spaces/{{space.user_id}}/edit' id='edit_space'> Edit This Space </a>
        </li>
    </ul>
</section>
