<header> Makers BnB 2! </header>

<section ='container'>
    <div class='row'>
        <div class='col-md-6'>
            <h1>Spaces </h1>

            <input id='search' ng-model='query'></br>

            <section ng-if='spaces == false'>
                <p>no spaces yet...</p>
            </section>

            <section>
                <ul id='spaces' ng-repeat='space in spaces | filter:query'>
                    <a ng-href='/spaces/{{space.id}}/details'><section id='space_link'><li class='space_list'>
                                <h5>{{space.name}}</h5>
                                <img class='space_thumb' ng-src={{space.image_url}}/>
                                <p>Location: {{space.location}}</p>
                                <p>Price: {{space.price}}</p> 
                                <p>Details: {{space.details}}</p>
                                <p>Available from: {{space.available_from}}</p>
                                <p>Available to: {{space.available_to}}</p>
                    </li></section></a>
                </ul>
            </section>
        </div>
    </div>
</section>
